@keyframes fallDownText1 {
	0% {
		top: -100px;
	}
	100% {
		top: 75px;
	}
}

@keyframes fallDownText2 {
	0% {
		top: -100px;
	}
	100% {
		top: 195px;
	}
}

@keyframes fallDownText3 {
	0% {
		top: -100px;
	}
	100% {
		top: 315px;
	}
}

@keyframes fallDownText4 {
	0% {
		top: -100px;
	}
	100% {
		top: 435px;
	}
}



@keyframes separate {
	from {
		justify-content: center;
	}
	to {
		justify-content: space-between;
	}
}



@keyframes changeColor {
	from {
		background-position-y: -100px;
	}

	to {
		background-position-y: 0;
	}
}



@keyframes moveLeft {
	0% {
		left: 200px;
	}
	100% {
		left: -1000px;
	}
}

@keyframes moveRight {
	0% {
		left: 200px;
	}
	100% {
		left: 1400px;
	}
}


@keyframes rotateLeft {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes rotateRight {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes showText {
	0% {
		font-size: 10px;
	}
	100% {
		font-size: 35px;
	}
}

@keyframes rollDown {
	0% {
		top: -100px;
	}
	100% {
		top: 235px;
	}
}

@keyframes rollRight {
	0% {
		left: -50px;
	}
	100% {
		left: 200px;
	}
}

@keyframes rotateX {
	100% {
		transform: rotateX(360deg);
	}
}
