@keyframes fallDownText1 {
	0% {
		top: -100px;
	}
	100% {
		top: 75px;
	}
}

@keyframes fallDownText2 {
	0% {
		top: -100px;
	}
	100% {
		top: 195px;
	}
}

@keyframes fallDownText3 {
	0% {
		top: -100px;
	}
	100% {
		top: 315px;
	}
}

@keyframes fallDownText4 {
	0% {
		top: -100px;
	}
	100% {
		top: 435px;
	}
}



@keyframes separate {
	from {
		justify-content: center;
	}
	to {
		justify-content: space-between;
	}
}



@keyframes changeColor {
	from {
		background-position-y: -100px;
	}

	to {
		background-position-y: 0;
	}
}
