$font-stack: 'Arial',
sans-serif;

@mixin backgroundImage($h) {
	background: url('../../images/sprite.png') $h -100px no-repeat;
}

@mixin row($animationName) {
	top: -100px;
	left: 200px;
	animation: $animationName 1s 1 linear forwards;
}
