@import '../partials/keyframes';

$font-stack: 'Arial',
sans-serif;


@mixin backgroundImage($h) {
	background: url('../images/sprite.png') $h -100px no-repeat;
}

@mixin rowPosition($left) {
	top: -100px;
	left: $left;
}

@mixin row5row6($margintop) {
	margin: $margintop 0 0 200px;
	font-size: 0;
	text-transform: uppercase;
}

@mixin animation($value...) {
	-webkit-animation: $value;
	-moz-animation: $value;
	animation: $value;
}
